/* 
       https://coolors.co/f4faff-dee7e7-cb904d-4f646f-535657
       CSS HEX
        --alice-blue: #f4faffff;
        --platinum: #dee7e7ff;
        --butterscotch: #cb904dff;
        --paynes-gray: #4f646fff;
        --davys-gray: #535657ff;

        CSS HEX (ADJUSTED LIGHT)
            --alice-blue: #f5faffff;
            --azure-web: #dcededff;
            --butterscotch: #d7984fff;
            --paynes-gray: #46738aff;
            --paynes-gray-2: #4b6872ff;

        CSS HEX (ADJUSTED DARK)
        --lapis-lazuli: #005daaff;
        --dark-slate-gray: #415a5aff;
        --caf-noir: #4a3115ff;
        --eerie-black: #1b2226ff;
        --eerie-black-2: #1c1d1dff;
*/
body {
  background-color: #dee7e7ff;
  font-family: "Nunito Sans", sans-serif;
  color: #1c1d1dff;
  font-weight: 300;
}

.container {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0px 0px 10px 3px hsla(195, 21%, 37%, 25%);
}

.container:not(:first-child) {
  margin-top: 2rem;
}

.container h1:first-child {
  margin-top: 0;
}

.header {
  color: #415a5aff;
  font-weight: 1000;
}

h1,
h2,
h3 {
  color: #1b2226ff;
  font-weight: 400;
}

a {
  color: #4b6872ff;
}

.navigation {
  padding: 0.25rem 1rem;
}

.navigation a {
  color: #1b2226ff;
}

.navigation li:first-of-type {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.navigation li {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #1b2226ff;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}

.current {
  font-style: italic;
}

@media screen and (max-width: 576px) {
  .navigation ul {
    flex-direction: column;
    list-style-type: square;
    padding-left: 1rem;
  }
  .navigation li {
    border: none;
    padding: 0;
    margin: 0;
  }
  .navigation a {
    text-decoration: underline;
  }
}
